html, body {
    width: 100%;
    height: 100%;
}

pre {
    overflow: auto;
}

div#app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
}

.box-shadow-menu {
    position: relative;
    height: 3rem;
    width: 4rem;
  }
.box-shadow-menu:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.35em;
    height: 0.15em;
    background: black;
    box-shadow: 
        0 -0.3em 0 0 black,
        0 0.3em 0 0 black;
}
.menu-btn {
    display: block;
    cursor: pointer;
    background: #fff;
    border: none;
    padding: 0;
}

.header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 3rem;
}

.side-nav {
    box-sizing: border-box;
    padding: 1rem;
    min-width: 260px;
    max-width: 360px;
    /* border-right: 2px solid silver; */
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    min-height: 100%;
    transition: all 1s ease;
}


.side-nav ul li {
    padding: 0.2rem;
}

.side-nav ul li a {
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    max-width: 260px;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: left;
    width: 93%;
    word-wrap: break-word;
}

.side-nav ul li a:hover {
    background-color: #dbdbdb;
    text-shadow: 0 0 5px #fff;
}

main.container {
    margin: 0 auto;
}

#post {
    padding: 0 20px;
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 960px;
}

@media screen and (max-width:1024px) {
    .side-nav {
        transform: translateX(-100%);
        display: none;
    }
  }
@media screen and (max-width: 768px) {
    .side-nav {
        position: fixed;
        z-index: 2;
        background-color: #fff;
    }
}